body {
    margin: 0%;
}

/*
* {
    border: 1px solid red;


}
*/
.header { 
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 34, 128);
    line-height: 1.6;
    padding: 0px 50px 50px 50px;

    
}

.headertext {
    color: white;
    
}

.headerstrong {
    font-size: 40px;
}

.headercontents {
    display: flex;
;
}

.signup {
    background-color: rgb(0, 119, 255);
    color: whitesmoke;
    font-weight: 600;
    border-radius: 4px;
    padding: 4px;
    width: 100px;
    margin-top: 6px;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}

.logo {
    display: flex;
    margin-right: auto;
}

.chest {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 255, 93);
    padding: 100px;
    gap: 30px;
}

.chestimages {
    border: 4px solid rgb(179, 255, 0);
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.imagetext {
    font-weight: 600;
    line-height: 1.6;
}

.images {
    display: flex;
    gap: 50px;
}

.belly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    padding: 20%;
}

.quote {
    display: flex;
    flex-direction: column;

}

.feelsstrongman {
    font-size: 20px;
    font-weight: 900;
}

.quoteguy {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

.footer {
    display: flex;
    background-color: lightblue;
    padding: 100px;
    justify-content: center;

}

.ad {
    display: flex;

    line-height: 1.6;
}


.reasonsignup {
    font-size: 15px;
}

.signupad {
    border-radius: 4px;
    width: 90px;
    padding: 3px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;

}

.footercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(14, 104, 221);
    width: 900px;
    height: 110px;
    border-radius: 6px;
    color: white;
    padding: 0px 40px 0px 40px;
    gap: 69px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: small;
}

.legalstuff {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 50, 50);
    flex-grow: 1;
    padding: 15px;
    color: whitesmoke;
    font-weight: 600;
}